{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock styles %} {% block content %}


<div class="login-div">
    <h1 class = "sign-text">Sign in to your account</h1>
  <form method="post" class="login-form">
    {% csrf_token %}
    {{ form.as_p }}
    {% comment %} <label for="email">E-mail:</label>
    <input type="text" id="email" name="email" /><br /><br />
    <label for="passwd">Last name:</label>
    <input type="password" id="passwd" name="passwd" /><br /><br />
    <input type="submit" value="Submit" id="submit-btn" /> {% endcomment %}
    <button type="submit" id="submit-btn">Log In</button>
  </form>
</div>

{% endblock content %}
