.order-container {
  background-color: rgb(240, 240, 240);
  width: 40%;
  margin: 1% auto;
  padding: 1%;
}

.orderid-divider {
  border-top: 4px solid rgb(131, 131, 131);
  border-radius: 3px;
}

.review-btn {
  background-color: rgba(199, 199, 28, 0.692);
  color: white;
  padding: 0.75% 1.5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.item-img{
  max-width: 100%;
}
